      .container1 {
        background-color: aquamarine;
      }
  
      .header {
        display: flex;
        background-color: rgb(90, 4, 78);
        color: white;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
        
      }
  
      .container {
        background-color:  #155462;;
        justify-content: center;
        text-align: center;
        margin-top: none;
        font-family: 'Montserrat', sans-serif;
        padding: 2px;
        color: white;
      }
      #container2{
        margin: 50px 100px;    }
  